:root{--maincolor:pink;}



html,body{
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: tahoma;
	background-image: url(dd2.jpg);
	background-size: cover;
	ba

}
.about,.skills,.experience{
	margin: 10px 60px;
	padding: 10px 50px;
	border-radius: 20px;
}
.about{
	margin-top: 0;

}
.header{
	text-align: center;
	overflow: hidden;
	padding-top: 20px;

}
.header > .logo{
	margin: 0 auto;
	width:200px;
	height: 200px;
	border-radius: 50%;
	border:10px solid #fff;
	box-shadow: 1px 1px 10px 0px rgba(0,0,0,.5);

	background:var(--maincolor);
}
.header .logo img{
	width:160px;
	height: 200px;
	overflow: hidden;
	border-radius:50%;

}
.header hr {
	border-color:orange;
	width: 100px;

}
.header h1{
	color:red;

}
.about {background:#fff;
box-shadow: 0px 1px 5px rgba(50,50,50,0.2);
}
.skills{

	background:var(--maincolor);	
	color:#fff;
}
.experience{
	background-color:white;
	color: #000;
box-shadow: 0px 1px 5px rgba(50,50,50,0.2);
}

.footer{

	background:var(--maincolor);	
	color: #fff;
	text-align: center;
	line-height: 40px;

}